<div class="row">
  <div class="col s6 offset-s2">
    <div class="card">
      <h4>Add a Customer</h4>
      <form ng-submit="create()">
        <div class="input-field">
          <input type="text" name="name" class="col s4" ng-model="user.name" id="name">
          <label for="name">Name</label>
        </div>
        <input type="submit" value="Add" style="margin-left: 10px" class="btn blue">
      </form>
      <div class="input-field col s3 right">
        <input type="text" id="search" ng-model="usersModel">
        <label for="search">Search Name...</label>
      </div>
      <table class="striped centered">
        <thead>
        <tr>
          <th data-field="name">Name</th>
          <th data-field="bday">Created Date</th>
          <th data-field="show">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users | filter: usersModel">
          <td ng-bind="user.name"></td>
          <td ng-bind="user.created_at | date: dd/MM/yyyy"></td>
          <td><button class="btn red" ng-click="delete(user._id)">Remove</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>